.contacts__wrapper {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__toggle-wrapper {
  padding: 20px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;

  text-align: center;
  border: 2px solid $gray-color;
}
