.page-main-wrapper {
	margin-bottom: 33px;
	background-image:url(../img/hero-mobile@1x.jpg);	
}


.page-main__title {
	padding-top: 75px;
	padding-left: 30px;
	margin: 0;
	margin-bottom: 208px;

	text-align: center;

	@include font-bold;
	@include font(27px, 30px, $primary-color);
}

.page-main__list {
	padding-left: 30px;
	
	@include list-item;
	@include font-bold;
	@include font(19px, 24px, $white-color);
}

.page-main__item {
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.page-main__item--interior {
	background-color: $light-green-color;
}

.page-main__item--toys {
	background-color: $green-color;
}