.main-nav {
  display:flex;
  flex-direction: column;

  position: relative;
  width: 320px;
  min-height: 320;
  margin: 0 auto;
  background-color: #ffffff;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 80px;
  height: 80px;

  background-color: #ffffff;

  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("..img/icon-menu-close.svg");
  background-repeat: no-repeat;
}
.main-nav--opend .main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("..img/icon-menu-open.svg");
  background-color: black;
  background-repeat: no-repeat;
}

/*кнопка css
.main-nav__toggle::before {
  content: "";
  position: abcolute;

  width: 20px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 5px 0 0 #000000, 0 5px 0 0 #000000;
}
*/

.main-nav__logo {
  display: flex;
  flex-direction: column;
  height: 80px;
  margin: auto;
  justify-content: center;
}
.main-nav__logo-image {
  height: 35px;
  width: 85px;
}

.main-nav__item a {
  
  
  color: #ffffff;

  @include list-item;
}

.main-nav__wrapper-buy {
  display: none;
}
.main-nav__delivery-p {
  padding: 0;
  margin: 0;
  
  @include font-regular;
  @include font(15px, 24px, $gray-color);
}
.buy-list {
  @include font-bold;
  @include font(15px, 24px, $gray-color);
}
.site-list__item {

  text-align: center;
}

.site-list__item a {
  @include list-item;
  color: $primary-color;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -90px;
    align-items: center;
  }
  .main-nav__menu-wrapper {
    position: relative;
    width: 100%;
    min-height: 320;
    margin: 0 auto;
    background-color: #ffffff;

  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__logo {
    display: flex;
    height: 90px;
    width: 220px;
    margin: 0;
    order: 0;
    align-items: center;
    justify-content: center;    
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }
  
  .main-nav__wrapper-nav {
    display: flex;
    margin: 0;
    height: 90px;
    width: 350px;
    justify-content: flex-end;
    align-items: center;
    order: 2;
  }
  .main-nav__wrapper-toggles {
    display: flex;
    margin: 0;
    width: 540px;
    justify-content: space-around;
    order: 1;
  }  
  .site-list__item {
    @include list-item;
  }
  .site-list__item-tablet {
    padding: 0 0 0 35px;
    @include font(15px, 24px, $primary-color);
  }
  /*.main-nav__wrapper-buy {
    order: 5;
  }
  .main-nav__delivery {
    display: flex;
    width: 330px;
    flex-grow: 1; 
    
  }*/
}
@media (min-width: $desctop-width) {
  .page-header {
    display: flex;
    width: 1050px;
    margin: 0 auto;
  }
  .main-nav {
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
  }
  .main-nav__logo {
    margin: 0;
    order: 1;
  }
  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }
  .main-nav__wrapper-nav {
    width: 415px;
    justify-content: space-between;
    order: 0;
  }
  .main-nav__wrapper-toggles {
    display: flex;
    justify-content: space-between;
    width: 415px;
    order: 2;
  }   
  .main-nav__wrapper-buy {
    display: flex;
    flex-direction: row;
    width: 1050px;
    margin: 0 auto -60px auto;
    order: 4; 
    justify-content: space-between;
   }
   .buy-list {
     display: flex;
     flex-direction: row;
     width: 415px;
     justify-content: space-between;
   }
   .main-nav__delivery {
     display: flex;
    
   }
  .site-list__item {
    @include list-item;
  }
  .site-list__item-tablet {
    padding: 0;
    @include font(17px, 24px, $primary-color);
  }

}