.week-product {
  display: flex;
  flex-direction: column;
  margin: 0 0 75px 0;
}
.week-product__wrapper {
  display: flex;
  flex-direction: column;
}
.week-product__title {
  margin: 0 0 20px 0;

  @include font-bold;
}

.week-product__name {
  margin: 0 0 5px 0;

  @include font(25px, 30px, $primary-color);
}

.week-product__header {
  text-transform: uppercase;

  @include font(17px, 20px, $light-green-color);
}

.week-product__description {
  margin: 0 0 20px 0;

  @include font-regular;
  @include font(15px, 24px, $gray-color);
}
.week-product__wrapper-description {
  margin-bottom: 40px;
}
.week-product__property-list {
  border-collapse: collapse;
  width: 100%;

  @include font-regular;
  @include font(15px, 20px, $gray-color);
}
.week-product__property-list tr {
  border-bottom: 1px solid $light-gray;
}
.week-product__property {
  padding: 10px 0 10px 0;
}
.week-product__value {
  padding: 10px 0 10px 30px;
}

.week-product__wrapper-img {
  margin-bottom: 25px;
}

.week-product__cost {
  text-align: center;

  margin: 0 0 25px 0;
  padding: 0;

  @include font-bold;
  @include font(17px, 24px, $gray-color);
}
.week-product__wrapper-cost {
  order: 1;
}

.week-product__toggle {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: $tablet-width) {
  .week-product__description {
    margin: 0 0 50px 0;

    @include font(17px, 30px, $gray-color);
  }
  .week-product__wrapper-description {
    margin-bottom: 60px;
  }
  .week-product__cost {
    text-align: center;
    margin: 0 0 35px 0;

    @include font(20px, 24px, $gray-color);
  }
  .week-product__wrapper-img {
    margin-bottom: 0px;
  }
  .week-product {
    margin-bottom: 120px;
    width: 100%;
  }
  .week-product__title {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 50px 0;
  }
  .week-product__name {
    width: 90%;
    margin: 0;
    @include font(43px, 50px, $primary-color);
  }
  .week-product__header {
    width: 10%;
    text-align: center;
    @include font(17px, 17px, $light-green-color);
  }
  .week-product__wrapper {
    width: 100%;
    flex-wrap: wrap;
  }
  .week-product__wrapper-cost {
    padding-right: 50px;
    width: 50%;
    order: 0;
  }
  .week-product__wrapper-description {
    width: 50%;
    padding-right: 50px;
  }
  .week-product__wrapper-img {
    width: 50%;
  }
  .week-product__image {
    width: 333px;
    height: 404px;
  }
}
