.week-product__title {
	margin: 0;
	margin-bottom: 20px;
	@include font-bold;
}
.week-product__name {
	margin: 0;
	margin-bottom: 15px;

	@include font (25px, 30px, $primary-color);
}

.week-product__header {
	text-transform: uppercase;

	@include font(17px, 20px, $light-green-color);
}

.week-product__description {
	margin: 0;	
	margin-bottom: 20px;

	@include font-regular;
	@include font(15px, 24px, $gray-color);
}

.week-product__property-list {
	margin-bottom: 40px;
	@include font-regular;
	@include font(15px, 20px, $gray-color)
}
.week-product__property {
	padding: 0;
	margin: 0;
} 
.week-product__value {
	padding-left: 30px;
}

.week-product__image {
	margin-bottom: 25px;
}

.week-product__cost {
	text-align: center;

	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	@include font-bold;
	@include font(17px, 24px, $gray-color);
}

.week-product__toggle {
	margin: 0;
	padding: 0;
	margin-bottom: 75px;
	text-align: center;
}
